target/
build/

*.log
logs/

.idea/
*.iml
*.ipr
*.iws

.vscode/

.project
.classpath
.factorypath
.settings/
.apt_generated/
.springBeans
.sts4-cache/

/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/

*.tmp
*.swp
