target/
build/
out/
bin/
*.class

*.log
logs/

.idea/
*.iml
*.ipr
*.iws

.vscode/
.idea_modules/

.project
.classpath
.factorypath
.settings/
.apt_generated/
.springBeans
.sts4-cache/

/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/

*.tmp
*.swp
*.orig

.DS_Store
Thumbs.db

.mvn/timing.properties
dependency-reduced-pom.xml
